<ion-view view-title=" الاصناف">
    <ion-content ng-class="{expanded:$scope.isExpanded} " style="background: url(img/bgg.png) center; background-size: cover;">
    
       <h4 class="content padding double-padding-x">الاصناف</h4>

       <div class="list" ng-repeat="c in all_cats">
           
           
           
         <a class="item item-thumbnail-right" ui-sref="app.meals">
           <img src="img/checken.jpg">
           <h2>{{c.name}}</h2>
        </a>
           
           
           
       </div>
    
    </ion-content>
</ion-view>
