<ion-view view-title=" الاصناف" align-title="left" hide-back-button="true" >
    
    <ion-header-bar align-title="center" class="bar bar-subheader custom bar-energized"  ng-hide="type">


    </ion-header-bar>
    
    <ion-header-bar align-title="center" class="bar bar-subheader custom "  ng-hide="type">

        <label>
            
      <button 
        class="button button-icon ion-android-search input-button"
         ng-model="clicked" ng-click="check_search_clicked()">
      </button>
اضغط للبحث باللغة العربية     

        </label>
    </ion-header-bar>
     
   <ion-content>
       <div>
       <label class="item item-input " ng-show="clicked" ng-hide="search1.length">
           
        <input type="search" 
          placeholder="أدخل منطقتك لتجد أقرب الطباخين"
          ng-model="search">
        <!--<button ng-if="search.length && clicked"
          class="button button-icon ion-android-close input-button"
          ng-click="clearSearch()">
        </button>-->
      </label>

     </div>
        <div>
           <label class="item item-input " ng-show="clicked" ng-hide="search.length">
            <input type="search" 
            placeholder="ابحث عن وجبة"
            ng-model="search1">
            <!--<button ng-if="search1.length && clicked"
                class="button button-icon ion-android-close input-button"
                ng-click="clearSearch()">
            </button>--> 
          </label>
       </div>
    <ion-list ng-if="search.length" >
        <ion-item  
          collection-repeat="item in locations | orderBy:'name' | searchItems:search"
          collection-item-height="60"
          collection-item-width="100%"
          ui-sref="app.chefs({ id: item.id })" align="right"
          >
          {{item.name}}
        </ion-item>
    </ion-list>
      
        <ion-list ng-if="search1.length">
            <ion-item 
                collection-repeat="item in all_meals | orderBy:'name' | searchItems:search1"
                collection-item-height="60"
                collection-item-width="100%"
                ui-sref="app.meal({ id: item.id })">
                  <img src="img/checken.jpg" width="20%" align="right">                  {{item.name}}
            </ion-item>
        </ion-list>
    </ion-content>
    <br>
    <br>
    <br>
    <br>
    <br>
    

       <div class="list" ng-repeat="c in all_cats" ng-hide="clicked"  >
         <a class="item item-thumbnail-right" ui-sref="app.meals({id: c.id})">
           <img src="img/checken.jpg">
           <h2>{{c.name}}</h2>
        </a>
       </div>
    
</ion-view>
<style>
 
    </style>
    
    
