<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/photo10.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>اطبخلي</h1>
            </div>
        </div>
         <form ng-submit="login(user)">

        <div class="list">
   <div class="item item-input-inset">
      <label class="item item-input-wrapper">		
      <input type="text" placeholder="example@umail.com">
      </label>
   </div>

   <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <input type="password" placeholder="كلمة السر ستة أحرف علي الأقل">
      </label>
   </div>
</div>
        <div class="padding row">
            <div class="col">
            <button  class="button button-balanced link  ">تسجيل الدخول</button>
            </div>
            <div class="col">
            <button  class="button button-balanced link  ">تسجيل لأول مرة</button>
            </div>
        </div>
             <a ui-sref="app.categories">gggg</a>             <div id="error">
             </div>
         </form>

      
    </ion-content>
</ion-view>

