<ion-view view-title="" align-title="left">

    <ion-content style="background: url(img/bgg.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content" >
                <div class="app-icon"></div>
                
            </div>
        </div>
      <form>
        <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="البريد الالكتروني" ng-model="user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="كلمة السر" ng-model="user.password">
          </label>
        </div>
             <div class="row">
                <div class="col">
                  &nbsp&nbsp <button class="button  button-dark" ng-click="login(user)">تسجيل الدخول</button>
                </div>
                <div class="col">
                   <button  class="button button-balanced link  ">تسجيل لأول مرة</button>
                </div>
             </div>
      </form>
    <button class="button icon-right ion-chevron-right button-calm" ui-sref="app.categories" >تخطي</button>

             <div id="error">
             <div class="col">
            <button  class="button button-balanced link  ">تسجيل لأول مرة</button>
             </div>
             </div>

 <div id="error">
             </div>
       <!-- <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>-->
    </ion-content>
    </form>
</ion-view>
