<ion-view view-title="Meal">
    <!--<ion-nav-bar class="bar-stable nav-title-slide-ios7 "   >
          <ion-nav-back-button class="button-icon icon ion-chevron-left ion-ios7-arrow-back" side="left"></ion-nav-back-button>
     </ion-nav-bar>-->
    
   
    
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background: url(img/bgg.png) center; background-size: cover;">
        <div class="hero slide-up" style="background-image: url('img/checken.jpg');">
            <div class="content">
                <h3><a class="light">{{meal1.name}}</a></h3>
            </div>
        </div>
      
        <h1 ng-repeat="m in meal1">{{m.name }}</h1>
         <h1 ng-repeat="m in meal1">{{m.price }}جنيه</h1>
          <h3>أضف الكمية</h3>
           <div class="input-group">
              
           <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number" data-type="plus" ng-repeat="m in meal1" ng-click="addToCart(m)">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
          <input type="text" name="quant[2]" class="form-control input-number" value="{{numberOfitem}}" min="1" max="100">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number" data-type="minus" min="1" max="100" data-field="quant[2]" ng-repeat="m in meal1"  ng-click="removefromCart(index)"  >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
           
      </div>
          <a   class="button  button-balanced button-clear   icon ion-android-cart" ng-click="addToBasket(meals)">أضف إلي سلتك</a>
        
    </ion-content>
</ion-view>
