<ion-view view-title="Meal">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <h3><a class="light">اسم الوجبه</a></h3>
                
            </div>
        </div>

        <div class="list">
          <h3>meal name</h3>
          <h3>meal description</h3>
          <h3>+ or - quantity</h3>
          <h3>total price</h3>
          <h3>button green (add to basket)</h3>
        </div>

    </ion-content>
</ion-view>
