<ion-view view-title="Offers">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
       <h4 class="content padding double-padding-x">العروض المتاحه</h4>
        <div class="list">

    <a class="item item-thumbnail-right" href="#">
      <img src="img/checken.jpg">
      <h2>دجاج</h2>
      <p>دجاج محمر بالطريقه الايطاليه</p>
    </a>

    <a class="item item-thumbnail-right" href="#">
      <img src="img/checken.jpg">
      <h2>دجاج</h2>
      <p>دجاج محمر بالطريقه الايطاليه</p>
    </a>

    <a class="item item-thumbnail-right" href="#">
      <img src="img/checken.jpg">
      <h2>دجاج</h2>
      <p>دجاج محمر بالطريقه الايطاليه</p>
    </a>

    

</div>

    </ion-content>
</ion-view>
