<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view view-title="الطلبات" align-title="left">

    <ion-content ng-class="{expanded:$scope.isExpanded}" class="card-background-page" style="background: url(img/back.png) center; background-size: cover;">
        <div class="padding">
<div class="card">
    <div class="item item-body">
        <h4>
              اسم العميل:محمد احمد 
        </h4>
        <h4>
            تفاصيل الطلب:
        </h4>
        <h4>
            1-عدد 2 محشي
            <br>
            2- عدد 3 دجاج مشوي
        </h4>
      <button   ng-click="" ng-show="type" class="button button-small  button-balanced">تأكيد</button>
      <button   ng-click="" ng-show="type" class="button button-small  button-assertive">رفض</button>
 
      
    </div>
</div>
            
 <div class="card">
    <div class="item item-body">
        <h4>
              اسم العميل:محمد احمد 
        </h4>
        <h4>
            تفاصيل الطلب:
            </h4>
        <h4>
           
            1-عدد 2 محشي
            <br>
            2- عدد 3 دجاج مشوي
        </h4>
      <button   ng-click="" ng-show="type" class="button button-small  button-balanced">تأكيد</button>
      <button   ng-click="" ng-show="type" class="button button-small  button-assertive">رفض</button>
      

    </div>
     
</div>
 <div class="card">
    <div class="item item-body">
        <h4>
              اسم العميل:محمد احمد 
        </h4>
        <h4>
            تفاصيل الطلب:
            </h4>
        <h4>
            1-عدد 2 محشي
            <br>
            2- عدد 3 دجاج مشوي
        </h4>
      <button   ng-click="" ng-show="type" class="button button-small  button-balanced">تأكيد</button>
      <button   ng-click="" ng-show="type" class="button button-small  button-assertive">رفض</button>
      

    </div>
     
</div>
            <div class='padding'>
      <h6 style="color:red">*يرجى العلم انه في حالة رفض اكثر من  طلب واحد سيتم مسحك من التطبيق</h6>       
            
            
            </div>
            </div>
          

   
          
    </ion-content>
</ion-view>