<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view view-title="الطلبات" align-title="left">

    <ion-content ng-class="{expanded:$scope.isExpanded}" class="card-background-page" style="background: url(img/back.png) center; background-size: cover;">
        <div class="card">
        <div class="padding">
        <div class="item item-body">
            <h4>
                  اسم العميل:{{data.user.name}}        
            </h4>
            <h4>
                تفاصيل الطلب:
            </h4>
            <div ng-repeat="meal in data.meals" >
                <h4>
                    {{meal.name}}
                    {{meal.quantity}}
                </h4>
                
            </div>
             <form>
               
        <div>
            <label>أدخل زمن التوصيل للطلب
                <input type="number" ng-model="data.time" class="input">
             </label> 
        </div>
        <div>
            <label>أدخل السعر الكلي
                <input type="number" ng-model="data.total_price" class="input">
             </label> 
        </div>
          <button ng-click="chef_confirm(data)" class="button button-small  button-balanced">تأكيد</button>
             </form>
          <button   ng-click="" ng-show="type" class="button button-small  button-assertive" required>رفض</button>
    </div>
        </div>
            <div class='padding'>
      <h6 style="color:red">*يرجى العلم انه في حالة رفض اكثر من  طلب واحد سيتم مسحك من التطبيق</h6>       
            </div>
            </div>
    </ion-content>
</ion-view>
<style>
    .input{
    background-color: #FFF4CB;
    }
    
    </style>
    