<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background: url(img/bgg.png) center; background-size: cover;">
        <div class="hero slide-up" style="background-image: url('img/photo121.jpeg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/chef1.jpeg');"></div>
                <h3><a class="light" ng-model="user.name">شيف</a></h3>
            </div>
        </div>
        <div class="tabs tabs-icon-top static my-color" >
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> التعليقات
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> معلوماتك الشخصية
            </a>
         
        </div>
        <div>
            {{chef.name}}
            {{chef.location}}
            
        </div>

        <div class="list" ng-repeat="m in list_meals">

    <a class="item item-thumbnail-right" href="#">
      <img src="img/checken.jpg">
      <h2>{{m.name}}</h2>
      <p>{{m.description}}</p>
      <p>{{m.price}}LE</p>
      
    </a>

</div>

<button id="fab-profile"  ng-click="showPopup()" ng-show="type" class="button button-fab button-fab-bottom-right button-energized-900"><i class="icon ion-plus"></i></button>

    </ion-content>
</ion-view>
