<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Example</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  </head>

  <body>
             
    <ion-nav-view></ion-nav-view>

    <script id="templates/rating.html" type="text/ng-template">
      <ion-view view-title="Home">
        <ion-content class="padding">
          <rating ng-model="data.rating" max="data.max" ></rating>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>