<ion-view view-title="التسجيل لأول مرة" align-title="left">

    <ion-content style="background: url(img/back.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                
            </div>
        </div>
        
 <form name="f" novalidate="">
     
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
            <input type="text" placeholder="الاسم" style="width: 320px" name="name" ng-model="user.name" required >
            <span  ng-show="f.name.$error.required" style="color:red"> *مطلوب</span>
        </div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
            <input type="email" placeholder="البريد الالكتروني" style="width: 320px" name="email" ng-model="user.email" required email>
            <span  ng-show="f.email.$error.required" style="color:red">*مطلوب</span>
            <span  ng-show="f.email.$error.email" style="color:red">ايميل غير صحيح</span>
        </div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
           <input type="password" placeholder="كلمة السر" style="width: 320px" name="password" ng-model="user.password" required pattern=".{6,}">
           <span style="color:red" ng-show="f.password.$error.required">*مطلوب</span>
           <span style="color:red" ng-show="f.password.$error.pattern">كلمة السر يجب ان تكون ستة ارقام او احرف على الاقل</span>            
        </div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
           <input type="text" placeholder="رقم التليفون" style="width: 320px" name="phone" ng-model="user.phone" required pattern=".{11,}">
           <span style="color:red" ng-show="f.phone.$error.required">*مطلوب</span>
           <span style="color:red" ng-show="f.phone.$error.pattern">رقم الهاتف يجب ان يكون احدى عشر رقما على الاقل</span>            
        </div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
           <input type="text" placeholder="العنوان" style="width: 320px" name="address" ng-model="user.address" required >
           <span style="color:red" ng-show="f.address.$error.required">*مطلوب</span>          
        </div>
    </div>
     <div class="row">
     <div class="col col-10"></div>
     <div class="col col-50">
        <div class="list">
            <label class="item item-input item-select "  value="" placeholder="المنطقة*">
                <select class="dark"ng-model="user.location" required>
                    <option  value="" >---المنطقة---</option>
                    <option ng-repeat="location in locations" value="{{location.name}}">
                    {{location.name}}
                    </option>
                </select>
            </label>
        </div>
     </div>
    </div>
     
     <div class="row">
     <div class="col col-10"></div>
     <div class="col col-50">
        <div class="list">
            <label class="item item-input item-select " placeholder="المنطقة*">
                <select class="dark"ng-model="user.usertype" required>
                    <option  value="1">شيف
                    </option>
                    <option  value="0">زبون
                    </option>
                </select>
            </label>
        </div>
    </div>
     </div>
     <div class="padding">
            <button ng-click="register(user)" class="button button-full my-color link">حفظ البيانات</button>
        </div>
             
</form>
    </ion-content>
</ion-view>
