<ion-view view-title="Register" align-title="left">
    <ion-content style="background: url(img/photo10.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>اطبخلي</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="الاسم" highlight-color="balanced" type="text"></ion-md-input>
           

            <ion-md-input placeholder="الباسورد" highlight-color="energized" type="password"></ion-md-input>

            

            <ion-md-input placeholder="العنوان" highlight-color="energized" type="password"></ion-md-input>

            <ion-md-input placeholder="التليفون" highlight-color="energized" type="password"></ion-md-input>

            <ion-md-input placeholder="شيف ولا زبون؟ " highlight-color="energized" type="password"></ion-md-input>



        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive link">حفظ البيانات</button>
        </div>
       <!-- <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>-->
    </ion-content>
</ion-view>
