<ion-view view-title="طلبك الخاص" align-title="left">
    <ion-content style="background: url(img/back.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>طلبك الخاص</h1>
            </div>
        </div>
          <form name="f" novalidate>
               <div class="row">
                 <div class="col col-10"></div>
                  <div class="col col-20">
                  <label>الاسم</label>
                  </div>
               <div class="col col-90">
                   <input type="text" style="width: 250px" name="name" ng-model="sorder.name" required>
                    <span style="color:red" ng-show="f.name.$error.required">
                             *مطلوب
                    </span>
                </div>
                </div>
              <div class="row">
                   <div class="col col-10"></div>
                <div class="col col-20">
                    <label>الكميه</label>
                    </div>
               <div class="col col-80">
                    <input type="text" style="width: 250px" name="quan" ng-model="sorder.quantity" required>
                        <span style="color:red" ng-show="f.quan.$error.required">
                            *مطلوب
                        </span>    
                </div>
                </div>
              <div class="row">
                   <div class="col col-10"></div>
                <div class="col col-20">
                    <label>الوصف</label>
                    </div>
               <div class="col col-75">
                    <input type="text" style="width: 250px" name="desc" ng-model="sorder.description" required>
                        <span style="color:red" ng-show="f.desc.$error.required">
                           *مطلوب 
                        </span>    
                </div>
                </div>

        </form>
         
        <div class="padding">
            <button ui-sref="app.special-order" class="button button-full button-balanced link" ng-click='submitSpecificOrder(sorder)'>تم
            </button>
        </div>

        
        
        
 
  


    </ion-content>
</ion-view>
