<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/bgg.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>طلبك الخاص</h1>
            </div>
        </div>
          
        <div class="list">
            <ion-md-input placeholder="الاسم" highlight-color="balanced" type="text" ng-model='sorder.name'></ion-md-input>

            <ion-md-input placeholder="الكميه" highlight-color="balanced" type="text" ng-model='sorder.quantity'></ion-md-input>

            <ion-md-input placeholder="الوصف" highlight-color="balanced" type="text" ng-model='sorder.description'></ion-md-input>

           
        </div>
         
        <div class="padding">
            <button ui-sref="app.special-order" class="button button-full button-assertive link" ng-click='submitSpecificOrder(sorder)'>تم
            </button>
        </div>
               




    </ion-content>
</ion-view>
